@use 'sass:map';
@use '@angular/material' as mat;

// https://material.angular.io/guide/theming#reading-hues-from-palettes
$my-palette: mat.define-palette(mat.$indigo-palette);

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.content {
  display: flex;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
}

.statistics {
  color: #ced4da;
}

.entity {
  width: 150px;
  height: 190px;
  border-radius: 1em;
  cursor: pointer;

  &-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 5px
  }

  &:hover {
    background: #f0f1f3a9;
  }

  mat-icon {
    height: 15px;
    width: 15px;
    font-size: 15px;

    &:hover {
      cursor: pointer;
      color: mat.get-color-from-palette($my-palette, 900) !important
    }
  }
}

.add, .upload {
  width: 150px;
  height: 190px;
  background: #f0f1f3;
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background: #f0f1f3a9;
  }

  input {
    display: none;
  }
}

.hidden {
  visibility : hidden;
}

.selected {
  background: #f0f1f3a9;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.3em;

  span {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 0.2em 0.5em 0 0;
  gap: 0.5em;
}

.delete, .download {
  height: 15px;
}

.empty-data {
  color: #ced4da;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.share {
  height: 25px;

  ::ng-deep .mat-badge-content {
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 9px;
    right: -12px;
    top: -12px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 0.3em;
  color: #ced4da;
  flex-wrap: wrap;

  &-element {
    display: flex;
    align-items: center;
    gap: 0.3em;
  }

  &-active {
    color: mat.get-color-from-palette($my-palette, 500) !important;
  }

  a {
    display: flex;
    align-items: center;
    gap: 0.3em;
    text-decoration: none;
    color: #ced4da;
    max-width: 135px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      color: mat.get-color-from-palette($my-palette, 500);
    }
  }
}

.cursor-default {
  cursor: inherit !important;
}

@media (max-width: 750px) {
  .wrapper {
    justify-content: center;
  }
}
