<div class="wrapper">
  <div *ngFor="let folder of folders" class="folder">
    <div class="folder">
      <div class="folder-content">
        <img [src]="getFolderIcon('folder')" width="100" />
        <span>{{ folder.name }}</span>
      </div>
    </div>
  </div>

  <div class="add" [matMenuTriggerFor]="menu">
    <mat-icon color="primary">add</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onClickCreateDocument()">Создать документ</button>
      <button mat-menu-item (click)="onClickCreateFolder()">Создать папку</button>
    </mat-menu>
  </div>
</div>
