@use 'sass:map';
@use '@angular/material' as mat;

// https://material.angular.io/guide/theming#reading-hues-from-palettes
$my-palette: mat.define-palette(mat.$indigo-palette);

.wrapper {
  display: flex;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
}

.folder {
  width: 150px;
  height: 160px;
  border-radius: 1em;
  cursor: pointer;

  &-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &:hover {
    background: #f0f1f3a9;
  }

  mat-icon {
    height: 15px;
    width: 15px;
    font-size: 15px;

    &:hover {
      cursor: pointer;
      color: mat.get-color-from-palette($my-palette, 900) !important
    }
  }
}

.add {
  width: 150px;
  height: 150px;
  background: #f0f1f3;
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background: #f0f1f3a9;
  }
}

.hidden {
  visibility : hidden;
}

.selected {
  background: #f0f1f3a9;
}

.name {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.delete {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 0.2em 0.5em 0 0;
  height: 15px;
}

.empty-data {
  color: #ced4da;
  width: 100%;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
