@use 'sass:map';
@use '@angular/material' as mat;

// https://material.angular.io/guide/theming#reading-hues-from-palettes
$my-palette: mat.define-palette(mat.$indigo-palette);

.wrapper {
  padding: 1em;
}

.content {
  display: flex;
}

.groups {
  padding: 5px 10px;
  min-width: 300px;
  width: 300px;
  overflow: hidden;
}

.card-content {
  max-height: calc(100vh - 390px);
  min-height: 200px;
  overflow-y: auto;

  .users-count {
    color: #bbb;
  }
}

.user-real-name {
  color: #bbb;
}

.selected-group {
  &-header {
    display: flex;
    justify-content: space-between;
  }

  &-title {
    padding: 0 8px;
  }

  &-control {
    padding: 0 16px;
  }

  &-edit-container {
    padding: 16px;
    overflow: hidden;
  }

  &-form-container {
    display: flex;
    flex-wrap: wrap;
  }

  &-group-field {
    width: 400px;
  }

  &-field-group-main {
    margin-right: 16px;

    mat-form-field {
      width: 400px;
    }
  }

  &-field-group-secondary {
    display: flex;
  }
}

.users-list-container {
  padding: 5px 10px;
  padding-top: 0;
  min-width: 350px;
  overflow: hidden;
}

.users-card-content {
  min-height: 450px;
  max-height: 450px;
  height: 450px;
  overflow-y: auto;
}

.user-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.username {
  margin-right: 3px;
}

.list-item-selected {
  background-color: mat.get-color-from-palette($my-palette, 100) !important;
}

.pointer {
  cursor: pointer;
}

:host button {
  display: flex;
  align-items: center;
  justify-content: center;
}
