<div class="background">
  <div class="gradient">

    <div class="container" rtl>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="row justify-content-center">
          <div class="col-md-8 col-sm-10 col-lg-6">

              <mat-card>
                <mat-card-title class="d-flex justify-content-center align-items-center mb-3">
                  <mat-icon>
                    account_circle
                  </mat-icon>
                  Войдите под своим логином
                </mat-card-title>
                <mat-card-content>
                  <div class="row">
                    <mat-form-field class="col" appearance="outline">
                      <input matInput placeholder="Введите логин" formControlName="username" autocomplete="username">
                      <mat-error *ngIf="form.get('username').invalid">
                        Обязательное поле
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="row">
                    <mat-form-field class="col" appearance="outline">
                      <input matInput type="password" placeholder="Введите пароль" formControlName="password" autocomplete="current-password">
                        <mat-error *ngIf="form.get('username').invalid">
                          Обязательное поле
                        </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="row buttons d-flex justify-content-center pad pt-2">
                    <button
                      mat-raised-button
                      [disabled]="(loading$ | async) || form.invalid || !form.dirty"
                      color="primary"
                    >
                      <div class="button-login">
                        <span>
                          <mat-icon>
                            login
                          </mat-icon>
                        </span>
                        <span>Войти</span>
                      </div>
                    </button>
                  </div>
                </mat-card-content>
              </mat-card>

          </div>
        </div>
      </form>

    </div>


  </div>
</div>
