.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}

.name {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.2em;
}
